
@model Login
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers







<link rel="stylesheet" href="~/css/registerlogin.css" />

<h1>
	@ViewBag.LoginErrorMessage

<div class="container">
	<div class="screen">
		<div class="screen__content">
			<form class="login" asp-action="_Login" asp-controller="Auth">

				<div class="login__field">
					<i class="login__icon fas fa-user"></i>
					<input asp-for="Mail" type="text" id="login__input" class="form-control" placeholder="Email">
					<span asp-validation-for="Mail"></span>

				</div>
				<div class="login__field">
					<i class="login__icon fas fa-lock"></i>
					<input asp-for="Password" type="password" id="login__input" class="form-control" placeholder="Password">
					<span asp-validation-for="Password"></span>

				</div>
				<input class="button login__submit" type="submit" value="Giriş Yap">
					<i class="button__icon fas fa-chevron-right"></i>
				</input>
			</form>
			
		</div>
		<div class="screen__background">
			<span class="screen__background__shape screen__background__shape4"></span>
			<span class="screen__background__shape screen__background__shape3"></span>
			<span class="screen__background__shape screen__background__shape2"></span>
			<span class="screen__background__shape screen__background__shape1"></span>
		</div>
	</div>
</div>












