@model Register
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<link rel="stylesheet" href="~/css/registerlogin.css" />




<div class="screen">
	<div class="screen__content">
		<form class="login" asp-action="_Register" asp-controller="Auth">
			<div class="login__field">
				<i class="login__icon fas fa-user"></i>
				<input asp-for="Name" type="text" id="login__input" class="form-control" placeholder="Name">
				<span style="color:red" asp-validation-for="Name"></span>

			</div>
			<div class="login__field">
				<i class="login__icon fas fa-user"></i>
				<input asp-for="Surname" type="text" id="login__input" class="form-control" placeholder="Surname">
				<span style="color:red" asp-validation-for="Surname"></span>

			</div>
			<div class="login__field">
				<i class="login__icon fas fa-lock"></i>
				<input asp-for="Username" id="login__input" class="form-control" placeholder="Username">
				<span style="color:red" asp-validation-for="Username"></span>

			</div>
			<div class="login__field">
				<i class="login__icon fas fa-lock"></i>
				<input asp-for="Password" type="password" id="login__input" class="form-control" placeholder="Password">
				<span style="color:red" asp-validation-for="Password"></span>

			</div>
			<div class="login__field">
				<i class="login__icon fas fa-user"></i>
				<input asp-for="Mail" type="text" id="login__input" class="form-control" placeholder="Email">
				<span style="color:red" asp-validation-for="Mail"></span>

			</div>
		
			<input type="submit" class="button login__submit" value="Kayıt Ol" >
				<i class="button__icon fas fa-chevron-right"></i>
		</form>

	</div>
	<div class="screen__background">
		<span class="screen__background__shape screen__background__shape4"></span>
		<span class="screen__background__shape screen__background__shape3"></span>
		<span class="screen__background__shape screen__background__shape2"></span>
		<span class="screen__background__shape screen__background__shape1"></span>
	</div>
</div>














    <!-- Button trigger modal -->
   




